@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior : smooth;
}
body{
    color-scheme : dark;
    background-color : #0A0A0A;
    color : #eee;
    overflow-x : hidden;
}
.container{
    min-height : 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.munnar-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/munnar1.jpg');
}
.ooty-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/ooty1.jpg');
}
.darjeeling-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/darjeeling1.jpg');
}
.himalayas-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/himalayas1.jpg');
}
.goa-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/goa1.jpg');
}
.kedarnath-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./images/kedarnath1.jpg');
}
.container-main{
    display : flex;
    align-items : center;
    min-height : 90vh;
}
.content-container{
    max-width : 1000px;
    width : 80%;
    margin : auto;
    padding : 30px;
    text-align : center;
}
.back-btn{
    text-decoration : none;
    position : absolute;
    top : 5%;
    left : 10%;
    color : #eee;
}
.back-btn::after{
    content : '';
    background-color: #fddc5c;
    height : 2px;
    width : 0;
    position : absolute;
    bottom : -5px;
    right : 5px;
    transition : 0.5s ease;
}
.back-btn:hover::after{
    width : 100%;
}
.tour-subtitle{
    color : #fddc5c;
    margin-top : 20px;
    text-align : center;
}
.tour-title{
    text-align: center;
    font-weight : 500;
}
.info{
    text-align : center;
    margin-top : 20px;
}
.description, .package-details{
    max-width : 600px;
    margin : 20px auto;
    text-align : justify;
}
.description h3, .package-details h3{
    font-weight : 600;
    margin-bottom : 10px;
}
.description p{
    color : #ccc;
    line-height : 1.75;
}
.package-details li{
    list-style : none;
    margin-bottom : 10px;
    display : flex;
    gap : 5px;
    align-items: center;
}
.package-details li i{
    font-size : 12px;
    color : #fddc5c;
}

.book-now-btn{
    color : #eee;
    text-decoration: none;
    background-color : hsla(0, 0%, 100%, .2);
    padding : 10px 20px;
    border : 0;
    outline : 0;
    cursor : pointer;
    margin-bottom : 20px;
    font-weight : 500;
    transition : 0.5s ease;
}
.book-now-btn:hover{
    background-color : hsla(0, 0%, 100%, .5);
    color : #0A0A0A;
}
.last{
    color : #fff;
    font-weight : 500;
}

/* Footer */
footer{
    padding : 20px;
    background-color: hsla(0, 0%, 100%, .2);
    backdrop-filter: blur(24px);
    --webkit-backdrop-filter : blur(24px);
    text-align : center;
}
.footer-logo{
    margin-bottom : 20px;
    font-family: "Allura", cursive;
    font-size : 3rem;
}
.footer-logo span{
    font-family : "Allura", cursive;
    color : #0A0A0A;
}
.footer-links{
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    gap : 10px;
    list-style : none;
    margin : auto;
}
.footer-links li a{
    color : #eee;
    font-size : 0.9rem;
    text-decoration: none;
    transition : 0.5s ease;
}
.footer-links li a:hover{
    color : #d8b115;
}
.logo-link{
    text-decoration: none;
    color : #eee;
}

@media screen and (max-width:450px){
    .footer-links li{
        display : flex;
        align-items : center;
        justify-content : center;
        flex-wrap : wrap;
        gap : 10px;
    }
    .description, .package-details{
        text-align : left;
    }
    .description h3, .package-details h3{
        text-align : center;
    }
}